/*
Paleta de cores
#252323 texto
#70798C link :hover
#DAD2BC 
#F5F1ED background
*/

body {
    background-color: #F5F1ED;
    color: #252323;
}

h1, h2, .dot {
    color: #70798C;
}

header {
    padding-top: 1rem;
    text-align: center;
}

header h1 {
    font-size: 3rem;
    border-bottom: 2px dashed #70798C;
    margin-bottom: 1rem;;
}

h2 {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin: 1rem 0;
}

h3, h4 {
    margin: 1.5rem 0 .5rem 0;
}

p {
    margin: .5rem 0 .5rem 0;
}

a {
    text-decoration: none;
    color: #252323;
    cursor: pointer;
}

ul {
    margin-left: 1.5rem;
    list-style-type: square;
}

.home, .disciplina {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.container {
    max-width: 70%;
    margin: 0 auto;
}

.basicas,
.desenvolvimento-programacao {
    padding: 0 .5rem;
    border-radius: .5rem;
    background-color: rgba(0, 0, 0, .03);
}

.desenvolvimento-programacao {
    
}

.cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 1rem 0;
}

.card {
    border: none;
    text-align: center;
    width: 15rem;
    flex-grow: 1;
}

.card a {
    font-size: 1.3rem;
    display: block; /*Faz com que o link ocupe o card todo*/
    padding: 1rem 0;
    background-color: #70798C;
    color: #F5F1ED;
    border: 1px solid transparent;
    border-radius: .5rem;
}

.card a:hover {
    background-color: #F5F1ED;
    color: #70798C;
    border: 1px solid #70798C;
    transition: .3s;
}

/*Botões antes do footer (voltar/inicio/avancar)*/

footer {
    border-top: 2px dashed #70798C;
    text-align: center;
    padding: 1rem 0;
    margin: 0 1rem;
}

footer a:hover {
    border-bottom: 2px solid #70798C;
    padding: 0 .5rem;
}