:root {
    --cor-titulos: #003366;
    --cor-link: #3399FF;
    --cor-link-hover: #0056A0;
    --cor-link-bg-hover: #F0F0F0;
    --cor-bg-card: #FFFFFF;
    --cor-border-card: #E0E0E0;

}

body {
    background: #FFF;
}

h1, h2, .dot {
    color: var(--cor-titulos);
}

header {
    padding-top: 1rem;
    text-align: center;
}

header h1 {
    font-size: 3rem;
    border-bottom: 5px dashed var(--cor-border-card);
    margin-bottom: 1rem;;
}

h2 {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin: 1rem 0;
}

h3, h4 {
    margin: 1.5rem 0 .5rem 0;
}

p {
    margin: .5rem 0 .5rem 0;
}

a {
    text-decoration: none;
    color: var(--cor-link);
    cursor: pointer;
}

ul {
    margin-left: 1.5rem;
    list-style-type: square;
}

.home,
.disciplina {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.container {
    max-width: 70%;
    margin: 0 auto;
}

.cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 1rem 0;
}

.card {
    border: none;
    text-align: center;
    width: 15rem;
    flex-grow: 1;
}

.card a {
    font-size: 1.3rem;
    display: block; /*Faz com que o link ocupe o card todo*/
    padding: 1rem 0;
    background-color: var(--cor-bg-card);
    color: var(--cor-link);
    border: 3px solid var(--cor-border-card);
    border-radius: .5rem;
}

.card a:hover {
    background-color: var(--cor-link-bg-hover);
    color: var(--cor-link-hover);
    border: 3px solid var(--cor-border-card);
    transition: .3s;
}

/*Botões antes do footer (voltar/inicio/avancar)*/
.acoes {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin: 1.5rem 0 1rem 0;
}

.btn {
    font-weight: bold;
    flex-basis: 20rem;
    text-align: center;
    padding: .5rem 0;
    cursor: pointer;
    border: 3px solid var(--cor-border-card);
    border-radius: .5rem;
    background-color: var(--cor-bg-card);
    color: var(--cor-link);
}

.btn:hover {
    transition: .3s;
    background-color: var(--cor-link-bg-hover);
    color: var(--cor-link-hover);
}

.btn-avancar {
    background-color: var(--cor-bg-card);
}

footer {
    border-top: 5px dashed var(--cor-border-card);
    text-align: center;
    padding: 1rem 0;
    margin-top: 2rem;
}

footer a:hover {
    border-bottom: 2px solid var(--cor-border-card);
    padding: 0 .5rem;
}